In [ ]:
#Day - 04


#set-{}
# it doesnt allows the duplicates
# it doest allow slicing
# it doesnt allow indexing
# unorderd

# set methods

# add,update,remove,discard,remove,pop
# operations- union,intersection,diffrence


#  set_1={}- empty set


set1={1,222,3,3,4,222,44,5,6,44,}
print(set1)

set1.add(10) # also sorting occured
print(set1)
set1.remove(222)
print(set1)
set1.update([11,22])#add and update are same
print(set1)
set1.discard(22)
print(set1)

#----------------------------------------------------------------------------------------------------------------------------------------------------------

set1={1,222,3,3,4,222,44,5,6,44,}

set2={3,4,5,4,333,55,666,333,55}

print(set1.difference(set2))

print(set1.union(set2))

print(set1.intersection(set2))

{1, 3, 4, 5, 6, 44, 222}
{1, 3, 4, 5, 6, 10, 44, 222}
{1, 3, 4, 5, 6, 10, 44}
{1, 3, 4, 5, 6, 10, 11, 22, 44}
{1, 3, 4, 5, 6, 10, 11, 44}
{1, 44, 222, 6}
{1, 3, 4, 5, 6, 44, 333, 55, 666, 222}
{3, 4, 5}

In [ ]:
#find the unique values

def unique_item(text):
    words=text.lower().split()
    unique=set(words)#set-it is used for converting a list in to set
    return len(unique)
unique_item("Raju is a good boy but sometimes raju is a bad boy")

8

In [ ]:
#remove duplicates from a list


def remove_dupli(num):
    result=[]
    for i in num:
        if i not in result:
            result.append(i)
    return result
list1=[1,2,1,1,1,3,4,5,6,4,5,]
remove_dupli(list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
#print words longer than 3 letter from a list

list1=["deepa","kadhir","joe","sri","priya"]
for i in list1:
    if(len(i)>3):
        print(i)

deepa
kadhir
priya